<div class="d-flex flex-row" id="users-page">
<% @users.each do |user| %>
<div class="card offset-md-1" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= user.username %></h5>
    <p class="card-text"><%= user.email %></p>
    <%= link_to "Show User", user_path(current_user), class:"btn btn-primary" %>
  </div>
</div>

<% end %>
</div>