<div class="container">
<div class="row"  id="user-container">
<div class="alert alert-success" role="alert">
  <h1 class="alert-heading"><%= @user.username %></h1>
  <p><%= @user.email %></p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
</div>
</div>