<div class="container mt-5">
    <h1 class="text-center mb-3">Category Page</h1>
    <div class="row">
        <div class="col-md-7">
            <!-- Hero -->
            <div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
            <h2><%= @category.title %></h2>
            </div>
            <!-- Hero -->
            </div>
        <div class="offset-md-1 col-md-3 shadow-lg p-3 mb-5 bg-white rounded">
            <span class="text-center">Related Blogs</span>
        </div>
    </div>
</div>